.LaunchFilters {
    margin-top: 15px;

    .FiltersLabel {
        margin-top: 15px;
    }

    .label {
        font-weight: bold;
        text-align: center;
        border-bottom: solid 1px lightgrey;
        width: 80%;
        padding: 5px;
        margin: 15px 20px;
    }
    
    .BtnGroupContainer {
        text-align: center;;
    }
}