.LaunchCard {
    margin: 15px 5px;

    img {
        padding: 20px;
    }

    .LaunchInfo {
        width: 100%;
        margin-bottom: 0px;

        td {
            padding-left: 0px;
        }

        ul {
            margin-bottom: 0px;
        }
    }

    .InfoHeader {
        font-weight: bold;
    }
}